<section id="team" class="team-section py-5" style="position: relative; overflow: hidden;">

  {{ partial "styling/diagonal_lines.html" . }}
  
  <div class="container" >
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8 text-center">
        <h2 class="section-title"> {{ .Params.title }} </h2>
        <div class="section-divider"></div>
        <h3 class="section-subtitle"> {{ .Params.subTitle }} </h3>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="blur-box team-intro text-center">
          <p>
            {{ .Content }}
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      {{ $vals := shuffle (slice "10%" "10.5%" "11%" "11.5%" "12%" "12.5%" "13%" "13.5%" "14%" "14.5%" "15%" "15.5%" "16%" "16.5%" "17%" "17.5%" "18%" "18.5%" "19%" "19.5%" "20%") }}
      {{ $xMins := shuffle $vals }}
      {{ $xMaxs := shuffle $vals }}
      {{ $yMins := shuffle $vals }}
      {{ $yMaxs := shuffle $vals }}

      {{ range $i, $page := sort .Pages "Params.weight" }}
        {{ .Scratch.Set "xMin" (index $xMins (mod $i (len $xMins))) }}
        {{ .Scratch.Set "xMax" (index $xMaxs (mod $i (len $xMaxs))) }}
        {{ .Scratch.Set "yMin" (index $yMins (mod $i (len $yMins))) }}
        {{ .Scratch.Set "yMax" (index $yMaxs (mod $i (len $yMaxs))) }}

        {{ partial "cards/member.html" $page }}
      {{ end }}
    </div>
  </div>
</section>
