<svg
   id="angle-lines"
   viewBox="0 0 241.91002 389.34958"
   preserveAspectRatio="xMidYMid meet"
   version="1.1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
     id="namedview1"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"/><defs
     id="defs1"><linearGradient
       id="linearGradient6"
       inkscape:collect="always"><stop
         style="stop-color:#e61264;stop-opacity:1;"
         offset="0"
         id="stop6" /><stop
         style="stop-color:#e61264;stop-opacity:0;"
         offset="1"
         id="stop7" /></linearGradient><linearGradient
       id="linearGradient4"
       inkscape:collect="always"><stop
         style="stop-color:#e61264;stop-opacity:0;"
         offset="0"
         id="stop4" /><stop
         style="stop-color:#e61264;stop-opacity:1;"
         offset="1"
         id="stop5" /></linearGradient><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient5"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108"
       gradientUnits="userSpaceOnUse" /><clipPath
       id="9269dc42f9"><path
         d="M 29,5 H 346 V 370 H 29 Z m 0,0"
         clip-rule="nonzero"
         id="path1-3" /></clipPath><clipPath
       id="e6a176acde"><path
         d="M 108.76172,-40.101562 424.29297,142.38672 266.58594,415.06641 -48.941406,232.57812 Z m 0,0"
         clip-rule="nonzero"
         id="path2" /></clipPath><clipPath
       id="b4be76223f"><path
         d="M 108.76172,-40.101562 424.29297,142.38672 266.58594,415.06641 -48.941406,232.57812 Z m 0,0"
         clip-rule="nonzero"
         id="path3" /></clipPath><clipPath
       id="c63f40e110"><path
         d="M 204.61328,97.394531 H 317.20312 V 272.75 H 204.61328 Z m 0,0"
         clip-rule="nonzero"
         id="path4" /></clipPath><clipPath
       id="436b2359ea"><path
         d="M 57.703125,242 H 249 v 76 H 57.703125 Z m 0,0"
         clip-rule="nonzero"
         id="path5" /></clipPath><clipPath
       id="f75152385a"><path
         d="M 126,57.667969 H 317.20312 V 133 H 126 Z m 0,0"
         clip-rule="nonzero"
         id="path6" /></clipPath><clipPath
       id="5801a8c739"><path
         d="M 57.703125,103 H 171 V 279 H 57.703125 Z m 0,0"
         clip-rule="nonzero"
         id="path7" /></clipPath><clipPath
       id="20ec2863a5"><path
         d="M 170.10547,162.40234 H 283 V 337.67187 H 170.10547 Z m 0,0"
         clip-rule="nonzero"
         id="path8" /></clipPath><clipPath
       id="6fb0606d74"><path
         d="M 92,38.003906 H 205 V 214 H 92 Z m 0,0"
         clip-rule="nonzero"
         id="path9" /></clipPath><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient7"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient8"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient9"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient10"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient11"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient12"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient13"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient14"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient15"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient16"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient17"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient18"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient19"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient20"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient21"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient22"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient23"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient24"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient25"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient26"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient27"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient28"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient29"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient30"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient6"
       id="linearGradient31"
       gradientUnits="userSpaceOnUse"
       x1="135.94054"
       y1="337.69308"
       x2="243.58368"
       y2="230.04994" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient32"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient33"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient34"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient35"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient36"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient37"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient38"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient39"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient40"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient41"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient42"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient43"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient44"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient45"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient46"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient47"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient48"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient49"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient50"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient51"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient52"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient53"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient54"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /><linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4"
       id="linearGradient55"
       gradientUnits="userSpaceOnUse"
       x1="-7.4227753"
       y1="37.158573"
       x2="179.39973"
       y2="223.98108" /></defs><g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(15.685539,30.06542)"><g
       id="g2"
       style="stroke:url(#linearGradient7)"
       transform="matrix(0.96592583,-0.25881904,-0.25881904,-0.96592583,31.432601,355.33214)"><path
         style="fill:#ffffff;stroke:url(#linearGradient8);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 124.82754,339.13262 245.02321,218.93695"
         id="path1" /><path
         style="fill:#ffffff;stroke:url(#linearGradient9);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 126.20947,340.51455 246.40514,220.31889"
         id="path1-1" /><path
         style="fill:#ffffff;stroke:url(#linearGradient10);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 127.59141,341.89649 247.78708,221.70083"
         id="path1-9" /><path
         style="fill:#ffffff;stroke:url(#linearGradient11);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 128.97336,343.27843 249.16902,223.08277"
         id="path1-1-4" /><path
         style="fill:#ffffff;stroke:url(#linearGradient12);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 130.35529,344.66038 250.55097,224.4647"
         id="path1-7" /><path
         style="fill:#ffffff;stroke:url(#linearGradient13);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 131.73725,346.04233 251.93292,225.84666"
         id="path1-1-7" /><path
         style="fill:#ffffff;stroke:url(#linearGradient14);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 133.11918,347.42426 253.31485,227.22858"
         id="path1-77" /><path
         style="fill:#ffffff;stroke:url(#linearGradient15);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 134.50112,348.8062 254.69679,228.61053"
         id="path1-1-6" /><path
         style="fill:#ffffff;stroke:url(#linearGradient16);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 135.88306,350.18814 256.07873,229.99247"
         id="path1-6" /><path
         style="fill:#ffffff;stroke:url(#linearGradient17);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 137.265,351.57008 257.46067,231.37442"
         id="path1-1-3" /><path
         style="fill:#ffffff;stroke:url(#linearGradient18);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 138.64694,352.95202 258.8426,232.75635"
         id="path1-9-9" /><path
         style="fill:#ffffff;stroke:url(#linearGradient19);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 140.02889,354.33396 260.22455,234.1383"
         id="path1-1-4-4" /><path
         style="fill:#ffffff;stroke:url(#linearGradient20);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 141.41082,355.71591 261.6065,235.52023"
         id="path1-7-8" /><path
         style="fill:#ffffff;stroke:url(#linearGradient21);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 142.79276,357.09784 262.98843,236.90217"
         id="path1-1-7-1" /><path
         style="fill:#ffffff;stroke:url(#linearGradient22);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 144.17471,358.47979 264.37038,238.28411"
         id="path1-77-2" /><path
         style="fill:#ffffff;stroke:url(#linearGradient23);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 145.55664,359.86172 265.75231,239.66606"
         id="path1-1-6-9" /><path
         style="fill:#ffffff;stroke:url(#linearGradient24);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 113.77201,328.07709 233.96768,207.88141"
         id="path1-8" /><path
         style="fill:#ffffff;stroke:url(#linearGradient25);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 115.15395,329.45903 235.34962,209.26336"
         id="path1-1-5" /><path
         style="fill:#ffffff;stroke:url(#linearGradient26);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 116.53589,330.84097 236.73156,210.6453"
         id="path1-9-0" /><path
         style="fill:#ffffff;stroke:url(#linearGradient27);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 117.91783,332.22291 238.1135,212.02725"
         id="path1-1-4-9" /><path
         style="fill:#ffffff;stroke:url(#linearGradient28);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 119.29976,333.60485 239.49544,213.40917"
         id="path1-7-6" /><path
         style="fill:#ffffff;stroke:url(#linearGradient29);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 120.68171,334.9868 240.87738,214.79113"
         id="path1-1-7-3" /><path
         style="fill:#ffffff;stroke:url(#linearGradient30);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 122.06365,336.36874 242.25933,216.17306"
         id="path1-77-8" /><path
         style="fill:#ffffff;stroke:url(#linearGradient31);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
         d="M 123.44559,337.75067 243.64126,217.555"
         id="path1-1-6-5" /></g><g
       id="g3"
       transform="matrix(-0.25881904,-0.96592583,-0.96592583,0.25881904,295.99224,215.56378)"><g
         id="g4"
         transform="rotate(-90,111.86516,180.91178)"
         style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient5)"><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient32);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -18.779063,11.960129 206.91143,238.50874"
           id="path1-97"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient33);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -20.160993,13.342059 205.52949,239.89067"
           id="path1-1-53"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient34);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -21.542933,14.723999 204.14755,241.27261"
           id="path1-9-8"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient35);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -22.924873,16.105949 202.76562,242.65455"
           id="path1-1-4-8"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient36);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -24.306823,17.487879 201.38369,244.0365"
           id="path1-7-3"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient37);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -25.688773,18.869839 200.00173,245.41845"
           id="path1-1-7-18"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient38);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -27.070703,20.251769 198.6198,246.80038"
           id="path1-77-9"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient39);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -28.452643,21.633709 197.23786,248.18232"
           id="path1-1-6-6"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient40);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -29.834583,23.015649 195.85591,249.56426"
           id="path1-6-4"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient41);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -31.216523,24.397589 194.47397,250.9462"
           id="path1-1-3-3"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient42);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -32.598463,25.779529 193.09203,252.32813"
           id="path1-9-9-3"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient43);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -33.980403,27.161479 191.71008,253.71008"
           id="path1-1-4-4-3"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient44);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -35.362353,28.543409 190.32815,255.09203"
           id="path1-7-8-8"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient45);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -36.744283,29.925349 188.94621,256.47396"
           id="path1-1-7-1-6"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient46);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -38.126233,31.307299 187.56427,257.85591"
           id="path1-77-2-0"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient47);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -39.508163,32.689229 186.18232,259.23784"
           id="path1-1-6-9-4"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient48);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -7.7235328,0.90459883 217.96697,227.45321"
           id="path1-8-8"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient49);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -9.1054728,2.2865388 216.58503,228.83515"
           id="path1-1-5-8"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient50);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -10.487413,3.6684788 215.20308,230.21709"
           id="path1-9-0-8"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient51);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -11.869353,5.0504188 213.82114,231.59903"
           id="path1-1-4-9-9"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient52);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -13.251293,6.4323488 212.43921,232.98097"
           id="path1-7-6-7"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient53);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -14.633243,7.8142988 211.05725,234.36291"
           id="path1-1-7-3-7"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient54);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -16.015183,9.1962391 209.67532,235.74486"
           id="path1-77-8-6"
           sodipodi:nodetypes="cc" /><path
           style="fill:#000000;fill-opacity:0;stroke:url(#linearGradient55);stroke-width:0.25;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
           d="M -17.397113,10.578179 208.29338,237.12679"
           id="path1-1-6-5-4"
           sodipodi:nodetypes="cc" /></g></g></g></svg>