<div id="svg-helix" class="centered-svg">
  <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
  <svg viewBox="0 0 4381.9688 4663.0581" width="100%" height="100%" shape-rendering="geometricPrecision">
        <line
        stroke="#e61264"
        stroke-width="2"
        x1="878.69366"
        x2="2766.8816"
        y1="4662.6802"
        y2="32.912819"
        id="svg-helix"
        ></line>
        <line
        stroke="#e61867"
        stroke-width="2"
        x1="847.87799"
        x2="2816.5791"
        y1="4622.7021"
        y2="26.593359"
        id="line2"
        ></line>
        <line
        stroke="#e71e6b"
        stroke-width="2"
        x1="817.36237"
        x2="2865.9766"
        y1="4582.0239"
        y2="20.973669"
        id="line3"
        ></line>
        <line
        stroke="#e7246f"
        stroke-width="2"
        x1="787.15839"
        x2="2915.0623"
        y1="4540.6514"
        y2="16.048925"
        id="line4"
        ></line>
        <line
        stroke="#e82a73"
        stroke-width="2"
        x1="757.27899"
        x2="2963.8237"
        y1="4498.5894"
        y2="11.813025"
        id="line5"
        ></line>
        <line
        stroke="#e93077"
        stroke-width="2"
        x1="727.73541"
        x2="3012.2493"
        y1="4455.8438"
        y2="8.2606573"
        id="line6"
        ></line>
        <line
        stroke="#e9367b"
        stroke-width="2"
        x1="698.53986"
        x2="3060.3267"
        y1="4412.4214"
        y2="5.3857179"
        id="line7"
        ></line>
        <line
        stroke="#ea3c7f"
        stroke-width="2"
        x1="669.70392"
        x2="3108.0442"
        y1="4368.3276"
        y2="3.1820436"
        id="line8"
        ></line>
        <line
        stroke="#eb4283"
        stroke-width="2"
        x1="641.23956"
        x2="3155.3906"
        y1="4323.5688"
        y2="1.6431031"
        id="line9"
        ></line>
        <line
        stroke="#eb4887"
        stroke-width="2"
        x1="613.1579"
        x2="3202.3542"
        y1="4278.1519"
        y2="0.76224375"
        id="line10"
        ></line>
        <line
        stroke="#ec4e8b"
        stroke-width="2"
        x1="585.47052"
        x2="3248.9233"
        y1="4232.0835"
        y2="0.53269053"
        id="line11"
        ></line>
        <line
        stroke="#ed548f"
        stroke-width="2"
        x1="558.18903"
        x2="3295.0867"
        y1="4185.3706"
        y2="0.94815683"
        id="line12"
        ></line>
        <line
        stroke="#ed5a93"
        stroke-width="2"
        x1="531.32428"
        x2="3340.8335"
        y1="4138.0205"
        y2="2.000464"
        id="line13"
        ></line>
        <line
        stroke="#ee6197"
        stroke-width="2"
        x1="504.88751"
        x2="3386.1523"
        y1="4090.0403"
        y2="3.6835694"
        id="line14"
        ></line>
        <line
        stroke="#ee679b"
        stroke-width="2"
        x1="478.88934"
        x2="3431.0322"
        y1="4041.4375"
        y2="5.9881349"
        id="line15"
        ></line>
        <line
        stroke="#ef6d9f"
        stroke-width="2"
        x1="453.341"
        x2="3475.4624"
        y1="3992.2205"
        y2="8.9075689"
        id="line16"
        ></line>
        <line
        stroke="#f073a3"
        stroke-width="2"
        x1="428.25287"
        x2="3519.4321"
        y1="3942.397"
        y2="12.433448"
        id="line17"
        ></line>
        <line
        stroke="#f079a7"
        stroke-width="2"
        x1="403.63556"
        x2="3562.9316"
        y1="3891.9744"
        y2="16.558447"
        id="line18"
        ></line>
        <line
        stroke="#f17fab"
        stroke-width="2"
        x1="379.49939"
        x2="3605.9497"
        y1="3840.9617"
        y2="21.273108"
        id="line19"
        ></line>
        <line
        stroke="#f285af"
        stroke-width="2"
        x1="355.85468"
        x2="3648.4766"
        y1="3789.3674"
        y2="26.570105"
        id="line20"
        ></line>
        <line
        stroke="#f28bb3"
        stroke-width="2"
        x1="332.71143"
        x2="3690.5015"
        y1="3737.2"
        y2="32.439919"
        id="line21"
        ></line>
        <line
        stroke="#f391b7"
        stroke-width="2"
        x1="310.07941"
        x2="3732.0151"
        y1="3684.4683"
        y2="38.873756"
        id="line22"
        ></line>
        <line
        stroke="#f497bb"
        stroke-width="2"
        x1="287.96899"
        x2="3773.0078"
        y1="3631.1812"
        y2="45.862831"
        id="line23"
        ></line>
        <line
        stroke="#f49dbf"
        stroke-width="2"
        x1="266.38885"
        x2="3813.4692"
        y1="3577.3481"
        y2="53.398293"
        id="line24"
        ></line>
        <line
        stroke="#f5a3c3"
        stroke-width="2"
        x1="245.34944"
        x2="3853.3906"
        y1="3522.9785"
        y2="61.470802"
        id="line25"
        ></line>
        <line
        stroke="#f6a9c7"
        stroke-width="2"
        x1="224.85939"
        x2="3892.7627"
        y1="3468.0815"
        y2="70.06974"
        id="line26"
        ></line>
        <line
        stroke="#f6b0cb"
        stroke-width="2"
        x1="204.92787"
        x2="3931.5762"
        y1="3412.667"
        y2="79.186378"
        id="line27"
        ></line>
        <line
        stroke="#f7b6cf"
        stroke-width="2"
        x1="185.56386"
        x2="3969.8223"
        y1="3356.7446"
        y2="88.810768"
        id="line28"
        ></line>
        <line
        stroke="#f7bcd3"
        stroke-width="2"
        x1="166.77632"
        x2="4007.4917"
        y1="3300.325"
        y2="98.933327"
        id="line29"
        ></line>
        <line
        stroke="#f8c2d7"
        stroke-width="2"
        x1="148.57375"
        x2="4044.5762"
        y1="3243.4175"
        y2="109.54319"
        id="line30"
        ></line>
        <line
        stroke="#f9c8db"
        stroke-width="2"
        x1="130.96461"
        x2="4081.0669"
        y1="3186.0327"
        y2="120.63029"
        id="line31"
        ></line>
        <line
        stroke="#f9cedf"
        stroke-width="2"
        x1="113.95711"
        x2="4116.9565"
        y1="3128.1809"
        y2="132.18466"
        id="line32"
        ></line>
        <line
        stroke="#fad4e3"
        stroke-width="2"
        x1="97.559158"
        x2="4152.2363"
        y1="3069.873"
        y2="144.19473"
        id="line33"
        ></line>
        <line
        stroke="#fbdae7"
        stroke-width="2"
        x1="81.778763"
        x2="4186.8984"
        y1="3011.1191"
        y2="156.65018"
        id="line34"
        ></line>
        <line
        stroke="#fbe0eb"
        stroke-width="2"
        x1="66.623611"
        x2="4220.9351"
        y1="2951.9312"
        y2="169.54123"
        id="line35"
        ></line>
        <line
        stroke="#fce6ef"
        stroke-width="2"
        x1="52.101208"
        x2="4254.3398"
        y1="2892.3188"
        y2="182.8558"
        id="line36"
        ></line>
        <line
        stroke="#fdecf3"
        stroke-width="2"
        x1="38.218884"
        x2="4287.104"
        y1="2832.2942"
        y2="196.58267"
        id="line37"
        ></line>
        <line
        stroke="#fdf2f7"
        stroke-width="2"
        x1="24.983717"
        x2="4319.2212"
        y1="2771.8679"
        y2="210.71103"
        id="line38"
        ></line>
        <line
        stroke="#fef8fb"
        stroke-width="2"
        x1="12.402417"
        x2="4350.6846"
        y1="2711.0518"
        y2="225.22977"
        id="line39"
        ></line>
        <line
        stroke="#ffffff"
        stroke-width="2"
        x1="0.48194602"
        x2="4381.4868"
        y1="2649.8569"
        y2="240.12653"
        id="line40"
        ></line>
  </svg>
</div>
